{% extends 'base.html' %}
<head>
</head>
<body>
    {% block content %}    
    <div class="container">
        <h1 class="text-center">
            Hello
            {% if name %}
                {{ name }}!
            {% else %}
                Mr/Mrs. Incognito
            {% endif %}
        </h1>
        <h2 class="text-center">
        {% if message %}
                {{ message }}
            {% else %}
                no messages for you!
                <p>Try it:)</p>
                <p><a href="/?name=Recruto&message=Давай дружить!">Go!</a></p>
            {% endif %}
        </h2>
    </div>
    {% endblock %}
</body>
</html>