<!DOCTYPE html>
<html lang="ru">
  <head>  
    <title>
      {% block title %} Re-kruto!  {% endblock %}
    </title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
  </head>
  <body>
    <header>
    {% include 'includes/header.html' %}
    </header>
    <main>
    {% block content %}
      <h1 class="text-center">
        <p>Контент не подвезли :( </p>
        <p>Попробуйте перейти по ссылке ниже:)</p>
        <p><a href="/?name=Recruto&message=Давай дружить!">Перейти!</a></p>
      </h1>
    {% endblock %}
    </main>
    <footer >
    {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>